input[type="text"],
textarea {
  width: 100%;
  padding: $px8;

  border: $px2 solid $grey-7;
  border-radius: $px4;
  outline: none;

  font-family: "Muli", sans-serif;

  appearance: none;

  &::placeholder {
    font-family: "Muli", sans-serif;
    color: $grey-7;
  }

  &.error {
    border-color: $red-5;
  }
}
