@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Mulish-Regular.ttf");
}

@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Mulish-ExtraBold.ttf");
}

@font-face {
  font-family: "Mulish";
  font-style: italic;
  font-weight: 400;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Mulish-Italic.ttf");
}

@font-face {
  font-family: "Mulish";
  font-style: italic;
  font-weight: 800;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/Mulish-ExtraBoldItalic.ttf");
}

.oh-really-design-system {
  h1 {
    font-size: 44px;
    line-height: 56px;
    font-weight: 800;
  }

  h2 {
    font-size: 32px;
    line-height: 36px;
    font-weight: 800;
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 800;
  }

  .font-large {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
  }

  a {
    font-size: 17px !important;
    line-height: 1.5 !important;
    font-weight: 400 !important;
    color: $grey-1;
    text-decoration: underline;

    &:hover {
      color: $grey-3;
    }
  }

  a.font-small {
    font-size: 12px !important;
    line-height: 1 !important;
    font-weight: 400 !important;
  }

  i {
    font-style: italic;
  }

  font-family: "Mulish" !important;
  font-size: 17px !important;
  line-height: 1.5 !important;
  font-weight: 400 !important;
}
